.icons li {
	display: inline-block;
	list-style-type: none;
}
.logo{
	position: absolute;
	margin-left: 110px;
	float: left;
	margin-top: -110px;
}
.navbar{
	background-color: #ffad99 !important;
}
.nav-item:hover{
	background-color: #ff3300;

}
.carousel-caption h5{
	position: absolute;
	margin-top: -400px;
}
.slider{
	background-image: url(i.png);
	
	background-size: 100% 100%;
	background-attachment: fixed;
}
.slider_imgblur{
	background: rgba(200, 0, 0, 0.2);
	height: 100%;
	width: 100%;
}
.btn{
	background-color:#ff3300 !important;
	border: 0px;
	margin-top: 10px;
	margin-bottom: 50px;
}
.btn:hover{
	background-color: white;
	color: black;

}
.slider_title{
	color: white;
	margin-top: 200px;
	margin-left: 50px;
}

@media(max-width:667px){
	.slider{
		height: 500px;
		width: 500px;
	}
}
.blog_img_text{
	height: 2570px;
	width:100%;
	border: 2px solid #e6e6e6;
}
.date{
	height: 120px;
	width: 100px;
	background-color: #ff3300;
	margin-top: -70px;
	margin-left: 20px;
	position: absolute;
}
.text_line{ /*responsive*/
	margin-top: 60px;
	margin-left: 20px;
}
.text_line1{
	margin-top: 10px;
	margin-left: 130px;
}
.icon_list{
	margin-left: 70px;
}
.icon_list li{
list-style-type: none;
display: inline-block;
margin-left: 30px;
font-size: 14px;
color: #ff3300;
}

.icon_list1 li{
list-style-type: none;
display: inline-block;
margin-left: 10px;
font-size: 14px;
color: #ff3300;

}

.tag li{
display: inline-block;
list-style-type: none;
margin-left: 10px;
}
.tag button{
	border: 0px;
}
.tag button:hover{
	background-color: #ff3300;
	border-radius: 20px;
}
.comment_text{
	height: 50px;
	width: 100%;
	border: 2px solid #cccccc;
	border-right: 0px;
    border-left: 0px;
}

.user1{
	margin-left: -20px;
}
.user1 li{
	display: inline-block;
	list-style-type: none;
	margin-left: 10px;
		margin-top: 10px;

}
.replybtn{
	margin-left: 180px !important;
	margin-top: 10px;
	position: absolute;
}
.form{
margin-top: 20px;
}
.form input{
	height: 50px;
	width: 400px;
	border: 0px;
	margin-left: 20px;
	background-color:  #e6e6e6;
	margin-top: 20px;
	border-radius: 10px;
}
.form button{
	height: 50px;
	width: 200px;
	background-color:#ff3300;
	color: white;
	margin-top: 30px;
	margin-left: 110px;
	border: 0px;
	border-radius: 10px;
}
.form button:hover{
	background-color: white;
	color: #ff3300;
	border: 2px solid #ff3300;
}
.row2 input{
	height: 50px;
	width: 400px;
	border: 2px solid  #b3b3b3;
	margin-left: 20px;
	background-color:  #e6e6e6;
	margin-top: 20px;
	padding: 5px;
}
.row2 i{
	position: absolute;
	background-color:#ff3300;
	height: 50px;
	width: 50px;
	text-align: center;
	padding-top: 15px;
	margin-top: 20px;
	border-left: 0px;
	color: white;
	
}
.row_img li{
list-style-type: none;
display: inline-block;
margin-left: 5px;
margin-top: 10px;
}
.row_img i{
	height: 0px;
	width: 0px;
	position: absolute;
	margin-top: -10px;
	color:#ff3300 ;
}
.row_img h5:hover{
	color:#ff3300;
}
.multi_btn button{
	height: 50px;
	width: 100px;
	border: 2px solid #b3b3b3;
	margin-top: 5px;
	margin-left: 4px;
	border-radius: 1px;
	background-color: white;
}
.multi_btn button:hover{
	background-color:#ff3300;
	color: white;
}
.footer_icon {
	margin-top: 30px;
}
.footer_icon li{
	list-style-type: none;
	display: inline-block;
	color: white;
}
.footer_icon i{
	height: 40px;
	width: 40px;
	background-color:rgba(0, 0, 0, 0.5);
	padding: 10px;
	font-size: 20px;
	border-radius: 50%;
	text-align: center;
}
.footer_icon i:hover{
	background-color: white;
	color:rgba(0, 0, 0, 0.5); ;
}
.list-group-item:hover{
	color:#ff3300 ;

}